html, body{
  height: 100%;
  overflow: hidden;
}

.h-100{
  height: 100%;
}

.vh-87{
  height: 87vh;
}

.vh-100{
  height: 100vh;
}

.scroll{
  overflow: scroll;
}

.h-10{
  height: 10%;
}

.h-8{
  height: 8%;
}

.h-82{
  height: 82%;
}
